#horizontal-scrollbar .horizontal-bar-app {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 100;
  background-color: green;
}
#horizontal-scrollbar .horizontal-bar {
  overflow: hidden;
  z-index: 100;
}
#horizontal-scrollbar .nav-no-hover {
  padding: 2px;
  z-index: 100;
}
#horizontal-scrollbar .point-label {
  font-size: 25px;
  font-family: revert;
  color: #cc9f52;
  text-transform: uppercase;
  line-height: 1.577;
  text-align: center;
  height: 80px;
  margin: 10px 50px 30px;
  z-index: 100;
}
#horizontal-scrollbar .numbers-line {
  border: 2px solid #cc9f52;
  margin-bottom: -9.5px;
  background-color: #cc9f52;
  z-index: 100;
}
#horizontal-scrollbar .numbers-body {
  z-index: 100;
}
#horizontal-scrollbar .number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  gap: 20px;
  position: relative;
  min-width: 100px;
  z-index: 100;
}
#horizontal-scrollbar .number-point {
  background-color: #cc9f52;
  width: 15px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 1px;
  z-index: 100;
}
#horizontal-scrollbar .strong-point {
  background-color: #fff;
  width: 29px;
  height: 28px;
  margin-top: -6px;
  z-index: 100;
}
#horizontal-scrollbar .number-value {
  font-size: 80px;
  font-family: "Fiona";
  color: #fbfbfb;
  line-height: 0.89;
  text-align: center;
  cursor: pointer;
  min-height: 150px;
  display: flex;
  align-items: center;
  z-index: 100;
}
#horizontal-scrollbar .number-value img {
  max-height: 80px;
  z-index: 100;
}
#horizontal-scrollbar .arrow-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -6.5px;
  width: 100%;
  position: absolute;
  padding-right: 70px;
  z-index: 101;
}
#horizontal-scrollbar .arrow-line img {
  cursor: pointer;
  z-index: 100;
}
#horizontal-scrollbar .hide {
  display: none !important;
  z-index: 100;
}
