.horizontal-bar-app {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(0, 141, 49);
  z-index: 100;
}

.horizontal-bar {
  width: 800px;
  overflow: hidden;
  z-index: 100;
  height: 3000px;
}

.nav-no-hover {
  padding: 2px;
  z-index: 100;
}

.point-label {
  font-size: 25px;
  font-family: revert;
  color: rgb(204, 159, 82);
  text-transform: uppercase;
  line-height: 1.577;
  text-align: center;
  height: 80px;
  margin: 10px 50px 30px 50px;
  z-index: 100;
}

.numbers-line {
  border-width: 2px;
  border-color: rgb(204, 159, 82);
  border-style: solid;
  margin-bottom: -9.5px;
  background-color: rgb(204, 159, 82);
  z-index: 100;
}

.numbers-body {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.number-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  min-width: 100px;
  z-index: 100;
}

.number-point {
  background-color: rgb(204, 159, 82);
  width: 15px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 1px;
  z-index: 100;
}

.strong-point {
  background-color: rgb(255, 255, 255);
  width: 29px;
  height: 28px;
  margin-top: -6px;
  z-index: 100;
}

.number-value {
  font-size: 80px;
  font-family: "Fiona";
  color: rgb(251, 251, 251);
  line-height: 0.89;
  text-align: center;
  cursor: pointer;
  min-height: 150px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.number-value img {
  max-height: 80px;
  z-index: 100;
}

.arrow-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -6.5px;
  position: absolute;
  width: 800px;
  z-index: 101;
}
.arrow-line img {
  cursor: pointer;
  z-index: 100;
}

.hide {
  display: none !important;
  z-index: 100;
}
